@using TheWheel
@using TheWheel.Models
@{
    
    LoadGamePlay play = new LoadGamePlay();   

    }


<!DOCTYPE html>
<!--
    Winhweel.js wheel of fortune example by Douglas McKechie www.dougtesting.net
    See website for tutorials and other documentation.

    The MIT License (MIT)

    Copyright (c) 2016 Douglas McKechie

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->
<html>
<style type="text/css" >

    #playersList{
        position:absolute; 
        top:425px; 
        left:10px; 
        font-weight:600; 
        height: 450px;
        overflow-y:auto;
        width: 275px;
    }

    #thewheel{
         margin-left: auto; 
         margin-right: auto; 
         position: relative; 
         background-color: wheat; 
         border-radius:49%; 
         border:1px solid darkred; 
         
    }   
    
    .displayon{
        display:block;
        cursor: pointer;
    }

    .displayoff{
        display:none;
    }
    
    .players-list{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .teams-section{
        min-width: 200px;
        min-height: 50px;
        font-size: 16pt;
    }
    
    .team-name{
        font-size: 16pt;
        margin-right: 5px;
        user-select: none;
    }

    .current-team{
        font-size: 16pt;
        -webkit-text-stroke: 1px black; /* width and color */
        color: goldenrod;
    }

    .myturn{
        font-size: 11pt;
        color: darkred;
    }

    .team-prize{
        font-size: 14pt;
        color: brown;
        border: 1px solid darkred;
        width: 65px;
        text-align: right;
    }

    .team-players{
        
        margin-right: 15px;
        text-decoration:underline;
    }
    
    .level-two{
        font-size: 10pt;
    }
    
    .level-two.team-members:not(:nth-last-child(1))::after {
        content:', ';
    }

    .letters-list:not(:nth-last-child(1))::after {
        content:', ';
    }

    input[type=button]:hover{
        box-shadow: 2px 5px #888888;
    }

    .whomai{
        text-align:center;
        font-size: 18pt;
        font-weight: bold;
        color: darkgoldenrod;
        -webkit-text-stroke: 1px black;
    }

    .winnerslist{
        position: fixed;
        left: 40px;
        top:40px;
        border: 2px double darkgoldenrod;
        background-color:antiquewhite;
        color:darkred;
        padding: 7px;
    }

    .dollar:before {
        content: '$ ';
    }
    
    .showText{
        visibility:visible
    }

    .hideText{
        visibility:hidden
    }
</style>

<head>  
    <title>Wheel OF FPI Fortune</title>
        @*src="~/js/MicrosoftTeams.js">*@
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/chat.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    <script type="text/javascript" 
        src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js">
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript" src="~/js/Winwheel.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/PlayTheWheel.js"></script>
    @*<script type="text/javascript" src="~/js/GamePlay.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
</head>
<body onload="gamePlay.initTheGameBoard()" style="min-width:1200px;letter-spacing: 2px;background-image:linear-gradient(to right, white , wheat, white); ">
    <div id="theWheelContainer" style="">
        <div v-if="winningTeams.length > 0" class="winnerslist">
            
            <div v-for="team in winningTeams"> 
                <div><span style="margin-right: 10px">{{team.name}}:</span><input type="checkbox" v-model="team.showPlayers" /> <span class="dollar">{{team.totalPrizeAmt}}</span><br />
                   <div v-show="team.showPlayers" v-for="player in team.players" v-on:click="isThisYou(player)" >
                        <label :id="player.id">{{player.name}}</label>
                        <input v-if="amIAdmin"  :disabled="!player.amOnline" type="checkbox" v-on:change="selectPlayer(player)" v-model="player.onATeam" />
                    </div>
                </div>
             </div>

        </div>
        <div align="center" style="font-size:22pt; font-family:SF Fortune Wheel; color: wheat; -webkit-text-stroke: 1px black; background-image: linear-gradient(to right, white , #911b1b, white);">
            <h1 style="font-size:1.5em;">FPI Wheel of Fortitude</h1>
        </div>
        <div id="TeamInfo" style="padding-top:25px; padding-bottom:25px; display: flex; justify-content:space-evenly; background-image:linear-gradient(to right, white , wheat, white); font-family:Britannic ">
            <div  style="min-width:200px; min-height:30px; color:darkred;">
                <label style="height:30px; width:75px;font-weight:600;font-size: 18pt;" >Wheel Value</label> 
                <input id='WheelVal' style="height:30px; width:100px; text-align:center; font-size: 18pt; font-weight:600;color:darkred;" data-val="0" :value="amountOnWheel"  /> 
            </div>
            <div v-for="team in teams" class="teams-section">
                <label v-on:dblclick="declareWinner(team)" :class="['team-name', {'current-team':team.currentTeam}]">{{team.name}}</label> <input v-if="amIAdmin" type="checkbox" v-model="team.finishPlaying" />
                <input type="text" class="team-prize" :value="team.gamePrizeAmt" /><img v-if="team.theWinner" src="~/images/trophy.png" /><br />
                @*<label class="level-two">Total Prizes</label><label class="level-two">{{team.totalPrizeAmt}}</label><br />*@
                <label class="level-two team-players">Players:</label><label v-for="contestant in team.players" :class="['level-two', 'team-members', {myturn:contestant.myturn}]">{{contestant.name}}</label>
            </div>
        </div>
        
        <div id="GameInfo" style="display: flex; justify-content:space-evenly; padding: 10px; font-size: 14pt; font-weight:bold; background-image: linear-gradient(to right, white , #911b1b, white); font-family: 'Britannic'">
            <div id='CurrCategory' v-show="theCurrentPuzzle !== null" style="min-width:200px; min-height:30px;"><label id="lblCategory">{{theCurrentPuzzle.category}}:</label><span style="font-weight:500; font-size:10pt; margin-left:10px" v-if="primo === true">{{theCurrentPuzzle.answer}}</span></div>
            <div id='GuessedLetter' style="min-width:200px; min-height:30px;"><input id="inGuess" v-model="currentGuess" style="width: 35px;"  /> <input id="btnGuess" type="button" value="Guess" :disabled="!readyToGuess" v-on:click="callLetterGuess" />  Guesses:<label v-for="letters in guessedLetters" class="letters-list" style="font-weight:500;" id="lblguesses">{{letters}}</label></div>
        </div>
        <div id="adminsect" style="padding: 10px;display: flex; justify-content:space-evenly;  background-image:linear-gradient(to right, white , wheat, white); " >
            <input type="button" v-if="amIAdmin" class="isready" value="Wheel" v-on:click="callWheel" />
            <input type="button" v-if="amIAdmin" :class="{isready:newGame}" value="New Puzzle" style="" v-on:click="loadPuzzle"/>
            @*<input type="button" v-if="amIAdmin" :class="{oktospin:readyToSpin, isNotReady:!gameReady}" value="New Match" style="" v-on:click="loadNewMatch"/>*@
            <input id="spin_button"   :class="{oktospin:readyToSpin, 'no-spin':!readyToSpin}" :disabled="!readyToSpin" type="button" value="SPIN" v-on:click="startSpinWheel" />
            <input id="guessRight" v-if="amIAdmin" :class="{oktospin:readyToSpin, 'no-spin':!readyToSpin}" type="button" value="Guess Right" v-on:click="guessRight" />
            <input id="guessRight" v-if="amIAdmin" :class="{oktospin:readyToSpin, 'no-spin':!readyToSpin}" type="button" value="Guess Wrong" v-on:click="guessWrong" />
            <input id="finishGame" v-if="amIAdmin" type="button" value="Finish Game" v-on:click="finishGame" />
            <input id="startGame" v-if="amIAdmin" type="button" value="Primary?" v-on:click="setPrimo" />
            <div v-if="amIAdmin" style="display:inline-block; border:1px solid black; background-color: darkred; color: wheat; border-radius:3px; padding:3px;" ><label>Change Player</label><input id="startGame" type="checkbox" value="Change Player" v-model="changePlayer" /></div>
        </div>
        <div class="whomai">{{whoamiWhyAmIHere}}<img v-if="primo" src="~/images/primostar.png" /></div>
        <div style="display: flex; justify-content:space-between; flex-direction:column;">
            <div style="height: 40px;"><span id="messages">{{message}}</span></div>
            <div id="playersList" class="players-list" >
                <div v-for="player in availablePlayers" v-on:click="isThisYou(player)" >
                    <label :class="{isnotReady:!player.amOnline}" :id="player.id">{{player.name}}</label>
                    <input id="chkbxPlayer"  v-if="amIAdmin"  :disabled="!player.amOnline" type="checkbox" v-on:change="selectPlayer(player)" v-model="player.onATeam" />
                </div>
            </div><br />
            <div id="playerteams" v-if="newGame"  v-if="amIAdmin" >
                <label style="font-weight:bold; font-size: 14pt;">Teams</label><br />
                <input id="teamName"  type="text" v-model="teamInCreation" />
                <input type="button"  :class="{can_create_team:!disabledCreateTeam, cannot_create_team:disabledCreateTeam}" :disabled="disabledCreateTeam" value="Create Team" v-on:click="createTeam" style="margin-bottom:10px;" /><br/>
                <input type="button"  value="Finished Teams" onclick="closeTeamsAdd;" style="margin-bottom:10px; display: none;" />
            </div>
            <div style="position:relative; ">
                <table style="position:absolute; left: 300px; top:1px; border-spacing: 3px; border-collapse: separate; border: 10px black double; background-color: mistyrose; margin-left: auto; margin-right: auto;">
                    <tr :data-row="createrowid(row.id)" v-for="row in gameBoard" style="border: 5px solid red;" >
                        <td v-for="card in row.rowCards" :id="card.id" :class="['wof-card', 'blank-card', {'play-card': card.isInCurrentPuzzle, hideText: !card.isnotblank}]" ><label :class="{hideText:!card.guessed}" id="">{{card.letter}}</label></td>
                    </tr>
                </table>
            </div>
            <div id="thewheel" class="the_wheel " :class="{displayon: showWheel, displayoff:!showWheel}">
                <div style="position:absolute; left: 207px; top: 2px;" class="arrow-down"></div>
                <canvas style="margin-top:1px;" id="canvas" width="434" height="434">                   
                </canvas>
            </div>
        </div>
    <div v-for="cxtrow in contextRows">
        <div :id="cxtrow.id" ><span>{{cxtrow.field}}</span></div>
    </div>
    </div>
</body>
</html>
